In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
reports_2019 = pd.read_csv("../data/neiss2019.csv")
terms_2019 = pd.read_csv("../data/neiss2019fmt.csv")

In [4]:
reports_2019.columns

Index(['CPSC_Case_Number', 'Treatment_Date', 'Age', 'Sex', 'Race',
       'Other_Race', 'Hispanic Origin', 'Body_Part', 'Diagnosis',
       'Other_Diagnosis', 'Body_Part_2', 'Diagnosis_2', 'Other_Diagnosis_2',
       'Disposition', 'Location', 'Fire_Involvement', 'Product_1', 'Product_2',
       'Product_3', 'Alcohol involved', 'Drug involved', 'Narrative_1',
       'Stratum', 'PSU', 'Weight'],
      dtype='object')

In [8]:
reports_2019 = reports_2019[['CPSC_Case_Number','Treatment_Date','Age','Sex','Location','Fire_Involvement','Product_1','Product_2','Product_3','Alcohol involved','Drug involved']]

In [9]:
reports_2019.head()

,CPSC_Case_Number,Treatment_Date,Age,Sex,Location,Fire_Involvement,Product_1,Product_2,Product_3,Alcohol involved,Drug involved
0,190103267,1/1/2019,81,1,1,0,1141,0,0,0,0
1,190103268,1/1/2019,38,2,0,0,1842,0,0,0,0
2,190103269,1/1/2019,94,1,5,0,1807,0,0,0,0
3,190103270,1/1/2019,86,1,1,0,611,0,0,0,0
4,190103273,1/1/2019,87,2,1,0,679,1807,0,0,0

##### Create csvs to merge

In [10]:
# csv_age = terms_2019[terms_2019['Format name'] == 'AGELTTWO']
# csv_alc = terms_2019[terms_2019['Format name'] == 'ALC_DRUG']
# csv_body = terms_2019[terms_2019['Format name'] == 'BDYPT']
# csv_fire = terms_2019[terms_2019['Format name'] == 'FIRE']
# csv_gend = terms_2019[terms_2019['Format name'] == 'GENDER']
# csv_loc = terms_2019[terms_2019['Format name'] == 'LOC']
# csv_prod = terms_2019[terms_2019['Format name'] == 'PROD']

# csv_age.to_csv('../data/age.csv', index=False, sep=',')
# csv_alc.to_csv('../data/alc.csv', index=False, sep=',')
# csv_body.to_csv('../data/body.csv', index=False, sep=',')
# csv_fire.to_csv('../data/fire.csv', index=False, sep=',')
# csv_gend.to_csv('../data/gend.csv', index=False, sep=',')
# csv_loc.to_csv('../data/loc.csv', index=False, sep=',')
# csv_prod.to_csv('../data/prod.csv', index=False, sep=',')

In [11]:
prod_2019 = pd.read_csv("../data/prod.csv")

In [13]:
prod_2019

,Format name,Starting value for format,Ending value for format,Format value label
0,PROD,101,101,101 - WASHING MACHINES WITHOUT WRINGERS OR OTH...
1,PROD,102,102,102 - WRINGER WASHING MACHINES
2,PROD,103,103,103 - WASHING MACHINES WITH UNHEATED SPIN DRYERS
3,PROD,106,106,106 - ELECTRIC CLOTHES DRYERS WITHOUT WASHERS
4,PROD,107,107,107 - GAS CLOTHES DRYERS WITHOUT WASHERS
...,...,...,...,...
1113,PROD,9002,9002,9002 - SEXUAL VIOLENCE
1114,PROD,9003,9003,9003 - NONSEXUAL INTIMATE PARTNER VIOLENCE
1115,PROD,9100,9100,9100 - OUT OF SCOPE PRODUCT - RETAILER REPORT
1116,PROD,9200,9200,9200 - DRYWALL CONTROL - NO COMPLAINT
1117,PROD,9999,9999,9999 - UNCATEGORIZED PRODUCT

In [14]:
reports_2019 = pd.merge(reports_2019,prod_2019, left_on='Product_1', right_on='Starting value for format', how='left')

In [16]:
reports_2019 = reports_2019[['CPSC_Case_Number','Treatment_Date','Age','Sex','Location','Fire_Involvement','Product_1','Product_2','Product_3','Alcohol involved','Drug involved', 'Format value label']]

In [17]:
reports_2019

,CPSC_Case_Number,Treatment_Date,Age,Sex,Location,Fire_Involvement,Product_1,Product_2,Product_3,Alcohol involved,Drug involved,Format value label
0,190103267,1/1/2019,81,1,1,0,1141,0,0,0,0,"1141 - CONTAINERS, NOT SPECIFIED"
1,190103268,1/1/2019,38,2,0,0,1842,0,0,0,0,1842 - STAIRS OR STEPS
2,190103269,1/1/2019,94,1,5,0,1807,0,0,0,0,1807 - FLOORS OR FLOORING MATERIALS
3,190103270,1/1/2019,86,1,1,0,611,0,0,0,0,611 - BATHTUBS OR SHOWERS
4,190103273,1/1/2019,87,2,1,0,679,1807,0,0,0,"679 - SOFAS, COUCHES, DAVENPORTS, DIVANS OR ST..."
...,...,...,...,...,...,...,...,...,...,...,...,...
358710,200314195,12/31/2019,44,1,1,0,1842,0,0,0,0,1842 - STAIRS OR STEPS
358711,200314202,12/31/2019,37,1,0,0,557,0,0,0,0,557 - COMPUTERS (EQUIPMENT AND ELECTRONIC GAMES)
358712,200314203,12/31/2019,221,1,1,0,1807,1864,0,0,0,1807 - FLOORS OR FLOORING MATERIALS
358713,200314209,12/31/2019,4,2,0,0,1616,0,0,0,0,1616 - JEWELRY
358714,200314210,12/31/2019,206,1,1,0,611,0,0,0,0,611 - BATHTUBS OR SHOWERS

In [ ]:
reports_2019 = pd.merge(reports_2019,prod_2019, left_on='Product_2', right_on='Starting value for format', how='left')
reports_2019 = pd.merge(reports_2019,prod_2019, left_on='Product_3', right_on='Starting value for format', how='left')

In [ ]:
reports_2019